
*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.header{
    width: ;
    /* background: radial-gradient(#fff, #ff523b); */
    background-image: radial-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-img{
    height: 800px;
    /* padding-left: 200px; */
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

p{
    color: #555;
}

.fa-shopping-cart{
    font-size: 12px;
    color: #fff;
}
.logo img{
    width: 125px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}



/************** Account Page *****************/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align-last: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display:  inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transfrom 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
/* /* This is contact page  * */
.contactus{
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
}
.contactus h1{
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.contact-form{
    margin-top: 60px;
    width: 40%;
    padding-left: 50px;
    margin-left: 40px;
}

.from-styling{
    background:transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    margin-bottom: 10px;
}
form{
    margin-top: 100px;
    transition: 1s;
}

input{
    color: #fff;
    font-size: 15px;
}



form .submit{
    background: #f77f15;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 2px;
    height: 40px;
    margin-top: 25px;
    transition: 0.5s all ease;
}
form .submit:hover{
    background-color: #fff;
    color: #000;
}


@media (max-width:700px){
    .contact-form{
        width: 80%;
    }

}

/* ***************Foooter********************** */

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #fff;
    margin-bottom: 10px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4
{
    min-width: 250px;
    margin-bottom: 10px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 14%;
    text-align: center;
}

.footer-col-3 ul li{
    list-style: none;
}
.footer-col-3 ul li a{
    text-decoration: none;
    color: #555;
    font-size: 15px;
}

.footer-col-3 ul li a:hover{
    color: #fff;
}

.footer-col-4 ul li{
    list-style: none;
}
.footer-col-4 ul li a{
    text-decoration: none;
    color: #555;
    font-size: 15px;
}

.footer-col-4 ul li a:hover{
    color: #fff;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 150px;
}

.footer-col-3 h3{
    color: #fff;
}
.footer-col-4 h3{
    color: #fff;
}

.copyright{
    margin: 20px 0;
    text-align: center;
}


